@page "/login"
<div class="container" style="margin-top: 2em;">

    <main role="main" class="pb-1">

        <div class="row">
            <div class="col-md-5">
                <section>
                    <div>
                        <img src="/images/Pet1_DinoManager_noborder.png" width="390" height="400">
                    </div>
                </section>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <form id="account" method="post" novalidate="novalidate">
                        <h4>Usa tu cuenta de DinoManager para iniciar sesión.</h4>
                        <hr>
                        <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                            <ul>
                                <li style="display:none"></li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="Input_Email">Email</label> <!--EMAIL-->
                            <input @bind="Email" class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="Input.Email">
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="Input_Password">Contraseña</label> <!--CONTRASEÑA-->
                            <input @bind="Password" class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password" name="Input.Password">
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="Input_RememberMe">
                                    <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="Input_RememberMe" name="Input.RememberMe" value="true">
                                    Recordar cuenta.
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" href="/Identity/Account/ForgotPassword">¿Has olvidado tu contraseña?</a>
                            </p>
                            <p>
                                <a href="/Identity/Account/Register?returnUrl=%2F">Registrarte como nuevo usuario.</a>
                            </p>
                        </div>
                        <input name="__RequestVerificationToken" type="hidden" ><input name="Input.RememberMe" type="hidden" value="false">
                    </form>
                </section>
                <footer class="footer border-top pl-3 text-muted">
                    <div class="container">
                        © 2021 - DinoManager
                    </div>
                </footer>
            </div>
        </div>
</main>
</div>

