@page "/reports"

@using DataLibrary
@using DinoManager_Blazor.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

<h3>People</h3>



@if (people == null)
{
    <p><em><span class="spinner-border spinner-border-sm mr-2"></span>Loading...</em></p>
}
else
{
    <table class="blueTable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in people)
            {
                <tr>
                    <td>
                        @p.FirstName
                    </td>
                    <td>
                        @p.LastName
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="InsertData">Insert</button>
    <button class="btn btn-warning" @onclick="UpdateData">Update</button>
    <button class="btn btn-primary text-nowrap" type="button" @onclick="UpdateData">
        <span class="spinner-border spinner-border-sm mr-2"></span>
        Enviando datos...
    </button>
    <button class="btn btn-danger" @onclick="DeleteData">Delete</button>
}

@code {


}
