
<div class="top-row pl-4 navbar navbar-dark">
    <!--<img src="/images/logo_transparencia.png" width="200" height="55">-->
    <a class="navbar-brand" href="">DinoManager</a>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Iniciar sesión
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="oi oi-plus" aria-hidden="true"></span> Registrar usuario
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="oi oi-check" aria-hidden="true"></span> Informes <!--oi oi-check (Icono interesante para el botón de descargar del informe)-->
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="oi oi-cloud-upload" aria-hidden="true"></span> Comunicar por email
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
